In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

# nltk.download('stopwords')

C:\Users\rajul\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
stop_words = set(nltk.corpus.stopwords.words('english'))

In [3]:
df=pd.read_csv("Query-Answers.csv")

In [4]:
df=df[['Query','Answer']]

In [5]:
input="Number of countries"

In [6]:
words1 = input.split()  # list of all words in sentence
print(words1)
# wordSet2=set(words1)
####Removing stopwords for better search result####
for word in words1:
        if word in stop_words:
            words1.remove(word)
print(words1)

########Stemming Input############
snowBallStemmer = SnowballStemmer("english")
words2=[]
for word in words1:
#     if(word=='TCS'):
#        words2.append(word)      
#     else:
        word=snowBallStemmer.stem(word)
        print(word)
        words2.append(word)

wordSet1 = set(words2)

['Number', 'of', 'countries']
['Number', 'countries']
number
countri

In [7]:
#####List of Questions to be matched with#####
Queries=[]
for i in df.iterrows():
    Queries.append(str(i[1][0]))

In [8]:
wordSet1

{'countri', 'number'}

In [9]:
matchSentence = Queries
maxCount = 0
maxCntInd = -1


for item in matchSentence:
    ''' here get the index of the `item`
    if all the words are in the `item.split()` is in the `sentence`
    '''
    words2 = item.split()  # list of all words in item
    words3=[]
    for word in words2:    #remove stop words
        if word in stop_words:
            words2.remove(word)
        word=snowBallStemmer.stem(word) # Stemming
        words3.append(word)
#     print(words3)
    wordSet2 = set(words3)
#     print(wordSet2)

    commonWords = len(wordSet2.intersection(wordSet1))
    if commonWords >= maxCount:
        maxCount = commonWords
        maxCntInd = matchSentence.index(item)
print(input)
print(df.loc[maxCntInd]['Answer'])

Number of countries
55

In [10]:

df

,Query,Answer
0,What is the theme,Building on Belief
1,How many consultants are there,"592,000"
2,Number of countries,55
3,When did the fiscal year end,"March 31, 2022"
4,What is TCS,Tata Consultancy Services
5,What is Tata Consultancy Services,"IT services, consulting and business solutions..."
6,What does TCS offer,"a consulting-led, cognitive powered, integrate..."
7,Where is TCS listed,BSE (formerly Bombay Stock Exchange) and the N...
8,proactive stance of TCS,climate change and winning work with communiti...
9,What does the theme mean,Building on Belief
10,Explain TCS theme,'Innovating for Greater Futures'
11,TCS's delivery model innovations,"Al-powered Machine First approach, and platfor..."
12,What is helping the company drive holistic gr...,"Al-powered Machine, Business models"

In [12]:
# ####Remove keyword TCS for better search result####
# if len(wordSet1)>1:
#     for word in wordSet1.copy():
#         if word == 'TCS':
#             wordSet1.remove(word)

In [13]:
####FuzzySearch####
# for i in df.iterrows():
#     x=process.extractBests(input, Queries)
#     if(x[0][-1])>=85:
#         print(x[0])